@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
ul,li{
  list-style-type: none;
  padding: 0;
  margin:0;
}
a{
  text-decoration: none;
  color: white;
}
nav {
  height: 90px;
  font-weight: bold;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.dropdown-item:hover{
  background-color: #2875B6;
  color: white;
}
.bendera{
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
}
.fullscreen{
  height: 115vh;
}
.about-section{
  height: 70vh;
}
.header {
  background: linear-gradient(
      180deg,
      #00335e 23%,
      rgba(0, 51, 94, 0) 46.35%,
      #00335e 95%
    ),
    url("../assets/images/header1.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 135% 125%;
}
.header-content {
  position: absolute;
  height: 489px;
  left: 0px;
  top: 460px;

  background: #010e1a;
  backdrop-filter: blur(30px);
}
.header-hidden{
  width: 0;
  visibility: hidden;
}
.header-visible{
  width: 832px;
  visibility: visible;
  transition: 2.2s;
}
.hidden-text ,.hidden-structure ,.hidden-services1 ,.hidden-services2 ,.hidden-services3,.hidden-tryapp,.hidden-detail{
  visibility: hidden;
  transform: translate(-50px,0)
}
.hidden-achive{
  visibility: hidden;
  transform: translate(50px,0)
}
.show-text,.show-structure,.show-achive,.show-services,.show-tryapp,.show-detail{
  visibility: visible;
  transform: translate(0,0);
  transition: 1s;
}
.link-header-carousel{
  font-family: 'Roboto', sans-serif;
}
  .highlight{
    margin: 0 60px;
    line-height: 30px;
  }
.rectangle {
  position: absolute;
  width: 115px;
  height: 22px;
  left: 0px;
  bottom: 0px;

  background: #ffffff;
  backdrop-filter: blur(30px);
}
#pref,.owl-prev {
  color: white;
  position: absolute;
  width: 60px;
  height: 60px;
  left: 1310px;
  top: 878px;
  border: 1px solid rgb(187, 185, 185);
  opacity: 0.4;
}
#next,.owl-next {
  color: white;
  position: absolute;
  width: 60px;
  height: 60px;
  left: 1400px;
  top: 878px;
  border: 1px solid white;
}
.prefnext {
  position: absolute;
  left: 35.79%;
  right: 33.33%;
  top: 25%;
  bottom: 25%;
}
hr {
  width: 140px;
  height: 5px;
  left: 650px;
  top: 1284px;
  border-radius: 10px;
  background: #2875b6;
}
.hidden-about,.hidden-misi,.hidden-box,
.hidden-client,.hidden-card,.hidden-article,.hidden-galery,.hidden-catalog,.hidden-related{
  visibility: hidden;
  transform: translate(0,-40px);
}
.show-about,.show-misi,.show-box,
.show-client,.show-card,.show-article,.show-galery,.show-catalog,.show-related{
  visibility: visible;
  transform: translate(0,0);
  transition: 1.1s;
}
.hidden-position,.hidden-heading,.hidden-detail-image{
  opacity: 0;
}
.show-position,.related-heading,.show-detail-image{
  animation: fadeInOpacity 0.5s 1 ease-in forwards;
}
@keyframes fadeInOpacity {
  100% {
    opacity: 1;
  }
}
#misi{
  background: linear-gradient(180deg, rgba(0, 51, 94, 0.8) 0%, #00335E 100%), url('../assets/images/bg-misi.jpg');
  background-position: center;
  background-size: 110% 110%;

}
.benefit-box{
  background: #FFFFFF;
border-radius: 5px;
width: 100%;
height: 170px;
}
.icon{
  position: absolute;
left: 9%;
right: 71.58%;
top: 30%;
}
.content-benefit{
  color: #AAAAAA;
  position: absolute;
left: 28%;
right: 31.78%;
top: 20%;
width: 65%;
}
.company-structure-section{
  background: linear-gradient(83deg, #010E1A 60%, rgba(1, 14, 26, 0) 109%), url('../assets/images/bg-comp-structure.jpg');
  background-position-y: 60%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.company-achive-section{
  background: linear-gradient(273.19deg, #010E1A 64.34%, rgba(1, 14, 26, 0) 107.06%), url('../assets/images/Rectangle\ 43.png');
  background-position-y: 60%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.button-structure-achiv{
  width: 407px;
height: 60px;
background:inherit;
border: 1px solid white;
}
.btn-services{
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 3px;
  width: 170px;
  height:50px;
  color : white;
  background: inherit;
}
.services-section{
  height: 270vh;
  background: #00335E;
}
.our-app-section{
  background: linear-gradient(84.28deg, #FFFFFF 53.9%, rgba(1, 14, 26, 0) 109.69%), url(.jpg);
}
.client-response{
  background: linear-gradient(0deg, rgba(232, 235, 239, 0.95), rgba(232, 235, 239, 0.95)), url('../assets/images/bg-comp-structure.jpg'), #E8EBEF;
  background-size: 100% 1000px;
  background-position: left;
  background-repeat: no-repeat;
}
.email-input{
  width: 587px;
height: 65px;
}
.subscribe-button{
  background: #2875B6;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
border-radius: 2px;
width: 183px;
height: 65px;
color: #ffffff;
}
.our-app-section{
  background-image: url('../assets/images/Rectangle\ 42.png');
  background-size: 100% 1000px;
  background-position: center;
  background-repeat: no-repeat;
}
.card-testimonial{
  background: #FFFFFF;
border-radius: 5px;
width: 90%;
height: 300px;
}
.avatar-testimonial{
 /* height,width setting ada di script.js */
  border-radius: 50%;
  border: 3px solid #FFFFFF;
box-sizing: border-box;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.testimonial-name{
  font-family: Montserrat;
font-size: 18.5px;
line-height: 24px;
letter-spacing: 0.1em;
color: #000000;
}
.jabatan{
  font-family: Montserrat;
font-style: normal;
font-size: 13.5px;
line-height: 20px;
color: #00335E;
}
.testimonial-text{
  font-family: Montserrat;
font-style: normal;
font-size: 19.5px;
line-height: 30px;
color: #666666;
}
.contact-section{
  background: #010E1A;
}
.contact>ul>li{
  margin: 0 0 25px -15px;
}
.contact>ul>li>a{
  padding: 0 15px;
  text-decoration: none;
}
.contact>.bottom-nav>li :hover {
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(20, 7, 138);
}
.list-gallery>ul>li{
  padding: 0 15px;
}
.list-gallery>ul>li:hover{
  cursor: pointer;
  color: #2875B6;
  border-bottom: 3px solid #2875B6;
}
.list-image-galery{
  width: 305px;
height: 300px;
}

footer{
  background: #010E1A;
}

/* Achivement page */
.achivement-section-page{
  min-height: 145vh;
}
.card-achviment{
  width: 385px;
height: 309px;
}

.organization-section-page{
  height: 90vh;
}
.node-box{
  width: 235px;
  height: 57px;
  background-color: #2875B6;
  color: #ffffff;
  border-radius: 2px;
}
.node-name{
  display: flex;
  justify-content: center;
  position: relative;
  top:30%;
}
.last-update-organization{
  position: absolute;
  bottom: 0px;
  left:100px;
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2em;

color: #000000;
}
.career-section-page{
  min-height: 100vh;
}
.position-avaliable{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.apply-btn{
  width: 183px;
height: 46px;
background: #2875B6;
border-radius: 2px;
}

.searching-bar{
  width: 60%;
  position: relative;
  left: 20%;
}
.categories{
  width: 183px;
height: 65px;
background: #F6F6F6;
border-radius: 5px;
}
.searching-box{
  position: relative;
  width: 793px;
height: 65px;
background: #F7F7F7;
border-radius: 5px;
}
.searching-box>input{
  position:absolute;
  bottom: 0;
  height: 100%;
  border: none;
  border-radius: 5px;
  width: 100%;
}
.search-logo{
  position: absolute;
  right:35px ;
  top: 23px;
}

.prev-next{
  width: 140px;
  position: relative;
  bottom: 0;
  margin: 50px 0;
  left: 45%;
}
.prev-next>.prev , .prev-next>.next{
  width: 60px;
height: 60px;
  border: 2px solid #000;
}
.icon-prev,.icon-next{
  position: relative;
  top: 16px;
  left: 22px;
}
.prev,.next{
  cursor: pointer;
}

.catalog-submenu{
  position: absolute;
  top: 330px;
  left: 280px;
}
.card-catalog{
  width: 285px;
height: 303px;
filter: drop-shadow(9px 7px 10px rgba(0, 0, 0, 0.25));
background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #00335E 100%), url('https://placeimg.com/600/609/arch');
border-radius: 2px 2px 0px 0px;
}
.card-catalog:hover{
  transform: translate(0,-13px);
  transition: 0.3s;
  cursor: pointer;
}
.catalog-product{
  position: absolute;
  bottom:0px;
}
.catalog-code{
  font-family: Montserrat;
font-size: 18px;
margin-top: -5px;
color: #A1A1A1;
}
.item-info-ready{
  width: 205px;
  height: 39px;
  background: #2875B6;
  border-radius: 2px;
}
.item-picture{
  width: 486px;
height: 462px;
background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #00335E 100%), url('https://placeimg.com/1000/1009/arch');
border-radius: 2px;
}
.category-desc{
  font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 3rem;
}

.content-detail-item{
  position: relative;
  top:210px
}

#detail-line{
  width: 556px;
  margin-left: 0;
  margin-right: 0;
}
.item-desc{
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 2.1rem;
width: 556px;
}

.article-categories{
  min-width: 140px;
height: 30px;
color: white;
display: flex;
justify-content: center;
align-items: center;
  background-color: #00335E;
  font-size: 13px;
}

.main-article{
  line-height: 2em;
}
.categories-blog-list>ul>.bloglist-menu{
  border-bottom: 2px solid #E0E0E0;
}
.categories-blog-list>ul>.bloglist-menu:hover{
  color: #2875B6;
  border-bottom: 2px solid #2875B6;
  cursor: pointer;
}
.related-heading{
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 28px;
}
.related-categories{
  font-weight: normal;
  color: #AAAAAA;
  font-size: 18px;
  line-height: 20px;
}
.list-bottom-related{
  width: 285px;
height: 302px;
}

.headline-img{
  width: 100%;
  height: 430px;
  background:linear-gradient(180deg, #00335E 7.29%, rgba(0, 51, 94, 0) 46.35%, #00335E 100%), url('https://placeimg.com/794/256/arch');
}
.headline-date{
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: #575757;
}
.article-views{
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: #C4C4C4;
}
.searching-box-bloglist{
  position: relative;
  width: 100%;
height: 65px;
background: #F7F7F7;
}
.searching-box-bloglist>input{
  position:absolute;
  top: 0;
  height: 110%;
  border: none;
  width: 100%;
}
.keep-with-us{
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;
text-align: center;
letter-spacing: 0.03em;
}
.get-subscribe-text{
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.3em;
color: #575757;
}
.article-list{
  min-width: 300px;
  max-width: 400px;
max-height: 493px;
}
.article-list>.headline-img{
  width: 100%;
  height: 240px;
  background:linear-gradient(180deg, #00335E 7.29%, rgba(0, 51, 94, 0) 46.35%, #00335E 100%), url('https://placeimg.com/387/256/arch');
}
.article-list>.article-categories{
  min-width: 90px;
  max-width: 140px;
  font-size: 65%;
}
.warp-article-list>.headline-date , .article-list-view>.article-views {
  font-size: 70%;
}
.load-more{
  width: 250px;
height: 40px;
border: 2px solid #2875B6;
}
@media only screen and (max-width: 740px) {

  h1,h2,h3,h4,h5,h6{
    font-size: 120%;
  }
  body{
    font-size:60%;
  }
  .fullscreen{
    height: 50vh;
  }
  .header-content {
    position: absolute;
    width: 290px;
    height: 200px;
    left: 0px;
    top: 215px;
  
    background: #010e1a;
    backdrop-filter: blur(30px);
  }
  .highlight{
    margin: 0 20px;
    line-height: 2vh;
  }
  .rectangle {
    position: absolute;
    width: 85px;
    height: 15px;
    left: 0px;
    bottom: 0px;
  
    background: #ffffff;
    backdrop-filter: blur(30px);
  }
  #pref {
    color: white;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 320px;
    top: 390px;
    border: 1px solid rgb(187, 185, 185);
    opacity: 0.4;
  }
  #next {
    color: white;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 360px;
    top: 390px;
    border: 1px solid white;
  }
  .heading{
    font-size: 150%;
  }
  .about-section{
    height: 45vh;
  }
  .about-sha{
    margin-top: -40px;
  }
}